<%= link_to 'Back', products_path %>

<h1>Product</h1>

  <ul>
    <h4>
      <%= @product.name %>
    </h4>
    <li>
      <%= @product.description %>
    </li>
    <li>
      <%= @product.formatted_price %>
    </li>
  </ul>

  <%= link_to "Edit Product Information", "#{@product.id}/edit" %>
  <%= link_to "Delete Product", @product, method: :delete, data: {confirm: "Are you sure you would like to delete this product from Rainforest?"} %>
